@import '../styles.scss';

h1{
  font-size: 4em;
  color: $secondary-dark;
}

h2{
  font-size: 2em;
  color: $secondary-dark;
}

p{
  font-size: 1.5em;
  color: $text-dark;
}

li{
  display: block;
}

#lessBigDiv{
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding: 0%;
  position: relative;
}

#teamDiv{
  color: $text-dark;
}
